# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/IllustratorFileForScript/sorted-by-dimensions
/IllustratorFileForScript/sorted-by-color
/IllustratorFileForScript/sorted-by-icon