# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/IllustratorFileAndScript/sorted-by-type
/IllustratorFileAndScript/sorted-by-color
/IllustratorFileAndScript/sorted-by-icon
/IllustratorFileAndScript/Archive.zip